/*--footer en todas las paginas Boostrap*/
/*media query--*/

@media screen and (max-width:950px) {
    .body {
        height: 2700px;

        .galeria {
            grid-template-columns: repeat(1, 1fr);
            grid-auto-rows: auto;
            justify-content: center;
            align-content: center;
        }

        .grid-container {
            grid-column: span;
            grid-row: span;
        }

    }
}

@media screen and (max-width:675px) {
    header nav {
        flex-direction: column;
        height: 2500px;
        grid-template-columns: repeat(1, 1fr);

        h2 {
            font-size: 50px;
        }
    }

    .main {
        height: 2000px;

        .galeria {
            grid-template-columns: repeat(1fr);
            grid-auto-rows: auto;
        }
    }
}

@media screen and (max-width:579px) {
    header nav ul {
        flex-direction: column;
        text-align: center;

        nav {
            height: auto;
        }
    }

    .galeria {
        height: 2700px;
        grid-template-columns: repeat (1, 1fr);
        grid-auto-rows: auto;
    }
}
@media screen and (max-width:450px) {
    .galeria {
        width: 100%;
        height: 2700px;
        grid-template-columns: (1, 1fr);
        grid-auto-rows: auto;
    }

    .hero h1 {
        font-weight: 200px;
        font-size :40px;
    }
}